[submodule "third-party/libfort"]
	path = third-party/libfort
	url = https://github.com/seleznevae/libfort.git
[submodule "third-party/Catch2"]
	path = third-party/Catch2
	url = https://github.com/catchorg/Catch2
